<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Exercice 4 : Quelques images à mettre en page">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/style-exercice-4.css">
    <title>Exercice 4</title>
</head>

<body>
    <div class="container">
    <header>
        <h1>Exercice 4 : Positionnement</h1>
    </header>

    <main>
        <section>
            <h2>Avec Flex</h2>
            <div class="flex">
            <img src="../assets/images/flex-1.jpg" alt="Paysage de montagne">
            <img src="../assets/images/flex-2.jpg" alt="Abbaye au crépuscule">
            <img src="../assets/images/flex-3.jpg" alt="Coucher de soleil sur la mer">
            <img src="../assets/images/flex-4.jpg" alt="Personne de dos">
            <img src="../assets/images/flex-5.jpg" alt="Carrefour avec voitures">
            </div>
        </section>

        <section>
            <h2>Avec Grid</h2>
            <div class="grid">
            <img src="../assets/images/grid-1.jpg" alt="Lac de montagne">
            <img src="../assets/images/grid-2.jpg" alt="Livre posé sur le bureau">
            <img src="../assets/images/grid-3.jpg" alt="Puits de jour">
            <img src="../assets/images/grid-4.jpg" alt="Soleil au-dessus des nuages">
            <img src="../assets/images/grid-5.jpg" alt="Pieds à l'air">
            </div>
        </section>
    </main>

    <footer>
        <a class="button" href="../index.html">Retour Accueil</a>
    </footer>
    </div>
</body>
</html>