/* Barre de navigation */

.nav {
    background-color: #8844cc; /* Fond violet */
    padding: 15px 0; /* Espace 15px en haut et bas, 0 sur les côtés*/
    margin: 0 -40px; /* Annule le padding du container (0 40px) */
}

.nav ul {
    list-style: none; /* Enlève les puces */
    margin: 0; /* Enlève l'espacement par défaut pour le contrôler moi-même' */
    padding: 0; /* Enlève l'espacement par défaut pour le contrôler moi-même' */
    display: flex; /* Liens côte à côte */
    justify-content: center; /* Centré */
    gap: 30px; /* Espace entre les liens */
}

.nav a {
    text-decoration: none; /* Pas de soulignement */
    font-weight: bold; /* Gras */
    text-transform: uppercase; /* Majuscules */
}

/* Encadrés */

section{
    border: 2px solid #8844cc;
    border-radius: 10px; /* coins arrondis */
    padding: 20px; /* Ajouter de l'espace intérieur entre le texte et la bordure */
    margin-bottom: 30px; /* ← Espace en dessous de chaque section */
}

article{
    margin-bottom: 30px; /* ← Espace en dessous de chaque article */
}

/* Mise en forme */

h2{
    color: #8844cc;
    font-weight: bold; /* Gras */
}

h3{
    color: #08c3ff;
    font-weight: bold; /* Gras */
}

section ul li a{
    color:black
}

.welcome{
    color: #08c3ff;
    font-weight: bold; /* Gras */
}

/* Listes */

/* Liste principale */
section > ul {
    list-style-type: disclosure-closed; /* Petit triangle/drapeau ▶ */
}

/* Sous-liste */
section > ul > li > ul {
    list-style-type: disc; /* Disque noir • (valeur par défaut) */
}

/* Footer */

footer{
    background-color: #8844cc; /* Fond violet */
    padding: 15px 0; /* Un peu de padding en haut et en bas pour aérer */
    margin: 0 -40px; /* Annule le padding du container (0 40px) */
}

footer p {
    margin: 0; /* ← Enlève les marges  par défaut du <p> */
    padding: 0; /* ← Enlève les marges  par défaut du <p> */
    text-align: center; /* Centre le texte */
    color: #ffffff; /* ← Texte blanc directement sur le <p> */
}